@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body{
    background-image: url("https://papers.co/wallpaper/papers.co-mu61-london-city-street-people-winter-dark-36-3840x2400-4k-wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


#crossed{
   
    padding: 20px;
    color: #ddd;
    font-size: 1.4em;
    box-shadow: 0 0 40px yellow;
    border-radius: 22px;
}

.btn{
     font-size: 1.2em; 
      padding: 20px;
     border-radius: 26px;
}

.col-center
{
  float: none;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 18px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20%;
}

#rojo{
    text-align: center;
}

#naranja{
    text-align: center;
}
#verde {
    text-align: center;
}

.fondo{
    background-color: red;
}